
#resume{
    padding: 50px 0;
}

.resumeWarpper{
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 10px;
}
.resumeContentWarpper{
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 5px;
    padding: 20px 10px;
}
.resumeContentWarpper {
    margin: 15px 0;
}
.resuIndiccator{
    width: 20px;
    border: none;
    background-color: chocolate;
    padding: 2px;
}

.resumeContentWarpper h4 + p{
    margin: 10px 0;
    color: coral;
}
.resumeContentWarpper hr{
    margin: 15px 0;
}
.progressBox{
    padding-bottom: 6px;
}
.progressBox h6{
    padding: 5px 0;
}
.progressBar{
    width: 100%;
    height: 10px;
    background: #00000015;
    border-radius: 5px;
}
.prOgresHTMLCSS{
    font-size: 10px;
    text-align: center;
    background: #1a9e00;
    width: 91%;
    border-radius: 5px;
    color: aliceblue;
}
.prOgresJS{
    width: 45%;
    height: 10px;
    font-size: 10px;
    text-align: center;
    background: #ffee02;
    color: aliceblue;
    border-radius: 5px;
}
.prOgresBS{
    width: 70%;
    height: 10px;
    font-size: 10px;
    text-align: center;
    background: #00eaff;
    color: aliceblue;
    border-radius: 5px;
}
.prOgresTW{
    width: 85%;
    height: 10px;
    font-size: 10px;
    text-align: center;
    background: #0cfe1d;
    color: aliceblue;
    border-radius: 5px;
}
.prOgresR{
    width: 18%;
    height: 10px;
    font-size: 10px;
    text-align: center;
    background: #ff4636d0;
    color: aliceblue;
    border-radius: 5px;
}

.nativeLanguse{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.myProgressbar{
    width: 100%;
    height: 13px;
    background: #00000015;
    border-radius: 5px;
}
.myProgress{
    font-size: 12px;
    text-align: center;
    color: white;
    height: 100%;
    border-radius: 5px;
}
.Bengali{
    width: 97%;
    background: #217a00;
}
.English{
    width: 77%;
    background: #09fdb8;
}
.Hindi{
    width: 57%;
    background: #6dffffb5;
}
.Urdu{
    width: 48%;
    background: #ffb700b5;
}